[submodule "specs/domain-model/dependency-processing/NLP"]
	path = models/domain-model/NLP
	url = https://github.com/FreeAndFair/NLP.git
[submodule "models/cryptography/cryptol-specs"]
	path = models/cryptography/cryptol-specs
	url = https://github.com/FreeAndFair/cryptol-specs.git
